:root {
  --clr-primary-100: hsl(225, 100%, 94%);
  --clr-primary-500: hsl(245, 75%, 52%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(225, 100%, 98%); 
  --clr-neutral-500: hsl(224, 23%, 55%);
  --clr-neutral-800: hsl(223, 47%, 23%);
  
  --clr-neutral-200-alpha: hsla(225, 100%, 98%, 75%);
  
  --clr-shadow-card: hsla(245, 75%, 52%, 15%);
  --clr-shadow-button: hsla(245, 75%, 52%, 20%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--clr-neutral-500);
  background-image: url("images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: var(--clr-primary-100);
}

h1, h2 {
  font-weight: 900;
  color: var(--clr-neutral-800);
}

h1 {
  font-size: clamp(1.4rem, 1rem + 2vw, 1.75rem);
  line-height: 1;
}

.card {
  max-width: 28.125rem;
  overflow: hidden;
  background-color: var(--clr-neutral-100);
  border-radius: 1.25rem;
  box-shadow: 0 2.5rem 2.5rem -1.25rem var(--clr-shadow-card);
  text-align: center;
}

.card-img {
  width: 100%;
}

.card-content {
  max-width: 25rem;
  margin: 0 auto;
  padding: 10% 1.5rem;
}

.card-content > p {
  margin-top: 1.2rem;
}

.plan {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.25rem;
  padding: 1.4rem;
  background-color: var(--clr-neutral-200-alpha);
  border-radius: 0.75rem;
}

.pricing {
  margin-left: 1.25rem;
}

.pricing h2, .pricing p {
  font-size: clamp(0.9rem, 3vw, 1rem);
}

.change-link {
  margin-left: auto;
  font-size: 0.9rem;
  font-weight: 900;
  text-underline-offset: 0.063rem;
  color: var(--clr-primary-500);
}

.change-link:focus-visible, .change-link:hover {
  text-decoration: none;
  opacity: 75%;
}

.payment-button {
  margin-top: 1.5rem;
  width: 100%;
  padding: 1rem;
  background-color: var(--clr-primary-500);
  border-radius: 0.75rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.95rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  color: var(--clr-neutral-100);
  box-shadow: 0 1.25rem 1.25rem var(--clr-shadow-button);
}

.payment-button:focus-visible, .payment-button:hover {
  opacity: 75%;
}

.cancel-link {
  display: inline-block;
  margin-top: 1.5rem;
  text-align: center;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 900;
  color: var(--clr-neutral-500);
}

.cancel-link:hover {
  color: var(--clr-neutral-800);
}

@media only screen and (min-width: 50em) {
  body {
    background-image: url("images/pattern-background-desktop.svg");
  }
}